{{extend 'layout.html'}}
<img src="{{=URL( 'download',args=profilePicture)}}" width=150px height=150px/>

<h1>{{=personalName}}</h1> {{=username}}
{{if personalQuote is not None:}}

<h2>"{{=personalQuote}}"</h2>
{{pass}}

<form id="postForm">
    <div class="form-group">
        <label for="your_message">Leave a message</label>
        <input name="your_message" id="your_message" class="form-control" placeholder="Enter a nice message" />
    </div>
    <input class="btn btn-primary" type="submit" />
</form>
<div id="postAnother" style="display:none">
    <div class="panel">
        <b>You message was submitted for review!</b>
        <button class="btn btn-default" onclick="jQuery('#postAnother').hide(); jQuery('#postForm').show()">Submit Another</button>
    </div>
</div>

<h3>Posts:</h3>
{{if len(posts) > 0:}}
    <ul>
        {{for post in posts:}}
            <li>{{=post.body}} - {{=post.likes}} likes!</li>
        {{pass}}
    </ul>
{{else:}}
    <br>You don't have any posts yet!
{{pass}}

<h3>Friends:</h3>
{{if len(friends) > 0:}}
    <ul>
        {{for friend in friends:}}
            <li>{{=friend.first_name + " " + friend.last_name}}</li>
        {{pass}}
    </ul>
{{else:}}
    <br>You have no friends yet :(
{{pass}}

{{if mutualFriends:}}
    <h3>Mutual Friends:</h3>
    {{if len(mutualFriends) > 0:}}
        <ul>
            {{for friend in mutualFriends:}}
                <li>{{=friend.first_name + " " + friend.last_name}}</li>
            {{pass}}
        </ul>
    {{else:}}
        You don't have any mutual friends!
    {{pass}}
{{pass}}

<script>
    jQuery('#postForm').submit(function() {
        ajax('{{=URL('new_post')}}, ['your_message', 'user']);
        jQuery('#postForm').hide();
        jQuery('#postAnother').show();
        jQuery('#your_message').val('');
        return false;
    });
</script>
